
body{
    background-color: hsl(218, 23%, 16%);
    overflow-x: hidden;

}
.contenedor{
    top: 250px;
    margin: 0 auto;
    margin-top: 134px;
}

.card{
    width: 340px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    box-shadow: 4px 18px 20px 4px hsl(218, 23%, 16%);
    padding: 8px;
}
.mobile-img{
    padding-bottom: 24px;
}

.desktop-img{
    display: none;
}
p.mes{
    padding-top: 5px;
    font-size: 38px;
    text-align: center;
    color: #53ffab;
    font-family: manropeextralight;
}
div.dice{
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
div.dice img{
    width: 20px;
    height: 20px;
    padding-top: 14px;
}
div.padre{
    position: relative;
}
div.hijo{
    bottom: -28px;
    left: 152px;
    position: absolute;
    border-radius: 50%;
}
/*
div.dice:hover{
    box-shadow: 2px 2px 25px 1px #53ffab;
}*/
div.dice:active{
    background: #53ffab;
    border-radius: 50%;
}
p.numAdvice{
    color: #53ffab;
    font-family: manropeextralight;
    letter-spacing: 3px;
}
p.quote{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
}
@media only screen and (min-width: 480px){
    body{
        background-color: hsl(218, 23%, 16%);
    }
    .contenedor{
        margin: 0 auto;
        margin-top: -90px;
        transform: translateY(14vw);
    }
    .card{
        width: 600px;
        height: auto;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        background-color: hsl(217, 19%, 24%);
        border-radius: 15px;
        box-shadow: 4px 18px 20px 4px hsl(218, 23%, 16%);
    }
    div.dice{
        background-color: hsl(150, 100%, 66%);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: all .4s ease;
    }
    div.dice img{
        width: 18px;
        height: 18px;
        padding-top: 10px;
    }
    div.padre{
        position: relative;
    }
    div.hijo{
        bottom: -25px;
        left: 300px;
        position: absolute;
    }
    div.dice:hover{
        box-shadow: 2px 2px 25px #53ffab;
    }
    p.numAdvice{
        color: #53ffab;
        font-family: manropeextralight;
        letter-spacing: 3px;
    }
    p.quote{
        font-size: 28px;
        color: hsl(193, 38%, 86%);
    }
    p.mes{
        font-size: 40px;
        text-align: center;
        color: #53ffab;
        font-family: manropeextralight;
    }
    .mobile-img{
        display: none;
    }

}





/*color: hsl(193, 38%, 86%);
    color: hsl(150, 100%, 66%);
    color: hsl(217, 19%, 38%);
    color: hsl(217, 19%, 24%);
    color: hsl(218, 23%, 16%);*/
