@font-face {
    font-family: 'manropeextralight';
    src: url('manrope-variablefont_wght.woff2') format('woff2'),
    url('manrope-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}